body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5EDED;
  color: #333;
  text-align: left;
}

header {
  background-color: #6482AD;
  color: white;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: coral;
  text-decoration: underline;
}

.header-content {
  margin-top: 30px;
  animation: slideIn 1s ease-out;
}
#selfie {
    border: 5px solid #1d3557;
    object-fit: cover;
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#selfiediv {
  display: flex;
  justify-content: center;
  align-items: center;
}
#caption {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: rgb(0, 0, 75);
}
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  font-size: 1.2em;
  max-width: 600px;
}

section {
  padding: 20px 20px;
  background-color: white;
  margin: 20px auto;
  width: 80%;
  max-width: 900px;
  border-color: #7FA1C3;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

section:hover {
  transform: translateY(-15px);
}

h2 {
  color: #1d3557;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: 700;
}

form input, form textarea {
  padding: 10px;
  margin-top: 5px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

form button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #1d3557;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #457b9d;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1d3557;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes slideIn {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
